[submodule "tools/parse-android-dynparts"]
	path = tools/parse-android-dynparts
	url = https://github.com/droidian/parse-android-dynparts
[submodule "tools/bootimg-info"]
	path = tools/bootimg-info
	url = https://github.com/osm0sis/bootimg-info
[submodule "tools/android-unpackbootimg"]
	path = tools/android-unpackbootimg
	url = https://github.com/anestisb/android-unpackbootimg
[submodule "tools/fridump"]
	path = tools/fridump
	url = https://github.com/Nightbringer21/fridump
[submodule "tools/LiME"]
	path = tools/LiME
	url = https://github.com/504ensicsLabs/LiME
[submodule "tools/mtkclient"]
	path = tools/mtkclient
	url = https://github.com/bkerler/mtkclient
[submodule "kernel/kernel-mtk"]
	path = kernel/kernel-mtk
	url = https://github.com/MotorolaMobilityLLC/kernel-mtk
	branch = android-10-release-qmd
[submodule "tools/bypass_utility"]
	path = tools/bypass_utility
	url = https://github.com/MTK-bypass/bypass_utility
[submodule "tools/exploits_collection"]
	path = tools/exploits_collection
	url = https://github.com/MTK-bypass/exploits_collection
